.box{
    height: auto;
    max-width: 50vw;
    width: 30vw;
    min-width: fit-content;
    padding: 5px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.block{
    width: 90vw;
}

.me{ 
    background: yellow;
}

.harshu {
    background-color: red;
    float: right;
}

.time{
    width: 100%;
    background: rgba(0, 0, 0, 0);
    font-size: 10px;
    font-weight: bold;
}

.tr {
    text-align: right;
}
.tl{
    text-align: left;
}